#content {}

.text-white {
    color: #fff !important;
}

#content .content-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    font-size: 15px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px 0;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;
}

/* About */
#content .about-text {
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

#content .member-list {
    padding: 32px 0;
}

#content .member-name {
    margin: 15px 0;
}

#content .member-img {
    width: 60%;
    border-radius: 4px;
}

/* Tour */
.tour-section {
    background-color: #000;
}

.tickets-list {
    background-color: #fff;
    list-style-type: none;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    margin-left: 16px;
    padding: 3px 4px;
}

.tickets-list .quantity {
    --height: 24px;
    text-align: center;
    float: right;
    width: 24px;
    height: var(--height);
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    line-height: var(--height);
    margin-top: -3px;
}

.places-list {
    padding: 32px 0px;
}

.place-item {}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    color: #757575;
    margin: 15px 0;
}

.place-desc {
    margin: 15px 0;
    line-height: 1.4;
}

/* Contact */

.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.4;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-info a {
    color: #0000EE;
}

.contact-info a:hover {
    opacity: 0.5;
}

.contact-form {
    font-size: 15px;
    text-align: right;
}

.contact-form .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}

/* Map */

.map-section {}

.map-section img {
    width: 100%;
}