/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Từ tổng quan đến chi tiết
*/

/*
1. Vị trí
2. Kích thước
3. Màu sắc
4. Kiểu dáng (kiểu chữ, hình tròn, vuông, ...)
*/

#main {}

#header {
    --height: 46px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: var(--height);
    background-color: #000;
    display: flex;
}

/* Begin : Nav */

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style: none;
}

#nav>li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav>li>a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: var(--height);
    padding: 0 24px;
    display: block;
}

#nav>li>a::after {
    content: "";
    position: absolute;
    height: 30px;
    left: 0px;
    border-left: 1px solid #fff;
    top: 50%;
    transform: translateY(-50%);
}

#nav>li:first-child a::after {
    border: unset;
}

#nav .nav-arrow-down {
    font-size: 14px;
}

/*Thắc mắc xem lại Selection CSS  */
#nav>li:hover>a,
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

#nav .subnav {
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}

/* End : Nav */

/* Begin : Search */
#header .mobile-menu-btn,
#header .search-btn {
    padding: 0 22px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#header .mobile-menu-btn:active {
    background-color: #ccc;
}

#header .mobile-menu-btn:active .menu-icon {
    color: #000;
}

#header .menu-icon,
#header .search-icon {
    font-size: 18px;
    color: #fff;
    line-height: 46px;
}

#header .search-bar {
    display: none;
    background-color: #fff;
    border: none;
    margin: auto;
    width: 500px;
    height: calc(var(--height) - 20px);
    border-radius: 20px;
    padding: 0 8px;
    outline: none;
}

#header .search-bar.open {
    display: inline-block;
}