#slider {
    margin-top: 46px;
    padding-top: 50%;
    background:
        url(https://static.vecteezy.com/system/resources/thumbnails/009/342/559/small/mobile-game-golden-star-clipart-design-illustration-free-png.png) top right / 5% no-repeat;
    position: relative;
}

#slider.chicago {
    background: url(../img/slider/chicago.jpg) top center / cover no-repeat;
}

#slider.la {
    background: url(../img/slider/la.jpg) top center / cover no-repeat;
}


#slider.ny {
    background: url(../img/slider/ny.jpg) top center / cover no-repeat;
}

#slider .linear {
    height: 33%;
    background: linear-gradient(0, rgba(255, 255, 1, 0.5), rgba(255, 255, 255, 0));
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#slider .text-content {
    bottom: 47px;
    position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 1px #000;
    display: none;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
}